<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>양 한 중 일식을 맛보세요!</title>
</head>
<body>
    양 한 중 일식을 맛보세요!
    <h1 style="background-color: yellowgreen" >메뉴 랜덤 추천 홈페이지</h1>
    <h2 style="background-color: skyblue">홈페이지에 오신 것을 환영합니다.</h2>
    <h3>반갑습니다.</h3>
    <p>오늘의 추천 메뉴는 {{name }}</p>
    <P>사진도 보여드립니다 :</P>
    <img width="400" height="300" src={{image}}>  
    <!-- 이미지 태그는 안 닫아도 될 것 </img> -->
 </body>
</html>

<!-- 여기 body를 어떻게 구성해야 하는지? -->